<% layout("/layouts/boilerplate.ejs") -%>
    <div class="row">
      <div class="col-7 offset-2">
        <h3 class="mt-3 mb-3">Edit your Listing</h3>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"   enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
            <div class="valid-feedback">
              Title Looks good!
            </div>
          </div>
          
          <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required>
            <%= listing.description %></textarea
            >
            <div class="valid-feedback">
              Please Enter the Short Discription!
             </div>
          </div>
          <div class="mb-3">
            Original Image<br>
            <img src="<%= orginalImageUrl %>" alt="Original Image">
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]" type="file" class="form-control"/>
          </div>
          <div class="row">
            <div class="mb-3 col-4">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
              <div class="invalid-feedback">
                Price Should be Valid!
              </div>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input
              name="listing[country]"
              value="<%= listing.country %>"
              type="text" class="form-control" required
            />
            <div class="invalid-feedback">
              Please Enter The Country Name!
            </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              name="listing[location]"
              placeholder="enter location"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please Enter The Location!
          </div>
          </div>
          <button class="btn btn-dark add-btn mb-3 mt-3">Edit</button>
        </form>
      </div>
    </div>
    